<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li routerLinkActive="active">
              <a routerLink="/participants">Participants</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="/assets">Contrats</a>
            </li>
            <li routerLinkActive="active" *ngIf="!isAdmin">
              <a routerLink="/user/transaction">Transaction</a>
            </li>
            <li routerLinkActive="active" *ngIf="!isAdmin">
              <a routerLink="/user/request">Demande d'Ajout</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="/ledger">Historique</a>
            </li>
            <li routerLinkActive="active" *ngIf="isAdmin && isNotification">
                <a routerLink="/admin/notifications">
                  <span matBadge="1" matBadgeColor="warn">Notifications</span>
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li routerLinkActive="active">
            <a routerLink="/signin">Se Déconnecter</a>
          </li>
        </ul>
    </div>
</nav>