<app-header></app-header>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<mat-card class="example-card">
  <mat-card-header>
      <div mat-card-avatar><mat-icon>receipt</mat-icon></div>
    <mat-card-title> <h3>Contrat : {{ asset.name }} </h3></mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <p>Valeur: {{ asset.value }}</p>
      <p>Devise: {{ asset.currency }}</p>
      <p>Date d'Expiration: {{ asset.dateLimit }}</p>
      <p>Propriétaire: {{ asset.owner }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button class="btn btn-default" (click)="onBack()">Retour</button>
  </mat-card-actions>
</mat-card>