<app-header></app-header>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Ajouter un nouveau contrat à la BlockChain</h2>
    <form [formGroup]="assetForm" (ngSubmit)="onSaveAsset()">
      <div class="form-group">
        <label for="name">Nom du contrat</label>
        <input type="text" id="name"
               class="form-control" formControlName="name">
      </div>
      <div class="form-group">
        <label for="value">Valeur financière</label>
        <input type="number" id="value"
               class="form-control" formControlName="value">
      </div>
      <div class="form-group">
        <label for="currency">Devise</label>
        <input type="text" id="currency"
               class="form-control" formControlName="currency">
      </div>
      <div class="form-group">
        <label for="dateLimit">Date d'expiration</label>
        <input type="date" id="dateLimit"
               class="form-control" formControlName="dateLimit">
      </div>
      <div class="form-group">
        <label for="owner">Entreprise Propriétaire</label>
        <input type="text" id="owner"
               class="form-control" formControlName="owner">
      </div>
      <div class="form-group">
        <label for="file">Uploader un document.</label>
        <input type="file"
              id="file"
              (change)="handleFileInput($event.target.files)">
      </div>
      <button class="btn btn-success" [disabled]="assetForm.invalid"
              type="submit">Enregistrer
      </button>

    </form>
  </div>
</div>