<app-header></app-header>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<mat-card class="example-card">
  <mat-card-header>
      <div mat-card-avatar><mat-icon>account_balance</mat-icon></div>
    <mat-card-title> <h3>Entreprise : {{ participant.name }} </h3></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>ID: {{ participant.leid }}</p>
    <p>Pays: {{ participant.country }}</p>
    <p>Informations: {{ participant.purpose }}</p>
    <br>
    <p>Ajouter ce participant à la BlockChain ?</p>
  </mat-card-content>
  <mat-card-actions>
        <button mat-raised-button color="primary" (click)="onYes()">Oui</button>
        <button mat-raised-button color="warn" (click)="onNo()">Non</button>
  </mat-card-actions>
</mat-card>
