.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
  }
  
mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
  background-color: beige;
}

.list-container {
  width: 100%;
  padding-top: 1px;
  border-right: 1px solid;
  border-color: #ddd;
  text-align: center;
}

.list-container .mat-list-item {
  border: 1px solid;
  border-right: 0px;
  border-color: #ddd;
  margin-top: -1px;
  height: 80px;  
  text-align: center;
}