<app-header></app-header>

<p>
  Veuillez sélectioner un HarborBond que vous souhaitez transférer:
</p>

<div class="example-container">
  <mat-form-field>
      <mat-select placeholder="Numéro du HarborBond">
          <mat-option value="option">Harbor1</mat-option>
          <mat-option value="option">Harbor2</mat-option>
      </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Entreprise">
      <mat-option value="option">Entreprise1</mat-option>
      <mat-option value="option">Entreprise2</mat-option>
    </mat-select>
  </mat-form-field>
</div>
